html {
  border: 5px solid #E59500;
  background-color: #002642;
  border-left: none;
  border-right: none;

}

body {
  background-color: black;
  margin: 40px;
  padding: 50px;
  border: 10px solid #840032;
  border-radius: 9px;
  color: #E5DADA;
  font-size: 40px;
  font-family: verdana;
  text-align: center;

}
